<mat-sidenav-container class="container">
    <!-- Barra lateral fixa com links de navegação -->
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <!-- Link para a página inicial -->
            <a mat-list-item routerLink="/">
                <img src="assets/img/casa.png" alt="Início" class="icon gira-3d">
                Início
            </a>
            <!-- Link para a página de produtos -->
            <a mat-list-item routerLink="/products">
                <img src="assets/img/engrenagem.png" alt="Produtos" class="icon gira-simples">
                Produtos
            </a>
            <!-- Link para a página de cliente -->
            <a mat-list-item class="cliente" routerLink="/clientes">
                <i class="material-icons reflexo-brilho">person</i>
                Cliente
            </a>
            <!-- Link para a página de fornecedor -->
            <a mat-list-item routerLink="/fornecedor">
                <img src="assets/img/entrega.png" alt="Fornecedor" class="icon gira-3d">
                Fornecedor
            </a>
            <!-- Link para a página de contato -->
            <a mat-list-item routerLink="/contato">
                <img src="assets/img/telefone.png" alt="Contato" class="icon gira-simples">
                Contato
            </a>
            <!-- Link para a página de venda -->
            <a mat-list-item class="venda" routerLink="/vendas">
                <i class="material-icons reflexo-brilho">sell</i>
                Venda
            </a>
            <!-- Link para a página de pagamentos -->
            <a mat-list-item routerLink="/formaPagamento">
                <img src="assets/img/pix.png" alt="Pagamentos" class="icon gira-simples">
                Pagamentos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Conteúdo principal da página -->
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>