<mat-card>
  <mat-card-title class="titulo">Atualizar Cliente</mat-card-title>
  <div class="scrollable-form">
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="cliente.cliNome" name="cliNome" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CPF" [(ngModel)]="cliente.cliCpf" name="cliCpf" required>
      </mat-form-field>

      <mat-form-field>
        <input 
          matInput 
          placeholder="CEP" 
          [(ngModel)]="cliente.endCep" 
          name="endCep" 
          required 
          (blur)="buscarEndereco()"> <!-- Chama a API quando sai do campo -->
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Rua" [(ngModel)]="cliente.endRua" name="endRua" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Número" [(ngModel)]="cliente.endNumero" name="endNumero" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Cidade" [(ngModel)]="cliente.endCidade" name="endCidade" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Estado" [(ngModel)]="cliente.endEstado" name="endEstado" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Celular" [(ngModel)]="cliente.conCelular" name="conCelular" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Telefone Comercial" [(ngModel)]="cliente.conTelefoneComercial" name="conTelefoneComercial" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="E-mail" [(ngModel)]="cliente.conEmail" name="conEmail" required>
      </mat-form-field>

      <div class="botoes">
        <button mat-raised-button color="primary" (click)="updateCliente()">Atualizar</button>
        <button mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</mat-card>